/*;
    - Modules: give a simple and generic class name: 
        |           Ex: message, nav-menu;
        |
        |----> For modifiers (variants of the modules) 
        |      use double-hyphen: 
        |           Ex: message--error, nav-menu--horizontal;
        |                                                                     
        |----> For sub-elements use double underscore: 
                    Ex: message__media, nav-menu__text

    - Braking points:
        |
        |---->  600px = 37em
                900px = 56.25em
                1200px = 75em;
                1800px = 112,5em

        using em instead px: 1200px = 75em (1200px/16px = 75)
    
         16px is usually the default font size of browsers

*/

/* ---------------Base styles---------------*/

@import "research.css";
@import "grid.css";

:root {
    box-sizing: border-box;
    font-size: 0.75em;
    --backgroud-light: #fbfbfbff;
    --backgroud-dark: #f9f9f9ff;
    --white-dark:#fdfdfdff;
    --white-light:white;

    --title-color: #5f5f62ff;
    --text-color: #898c96ff;

    --yellow-dark: #f7b202;
    /*
    --backgroud-dark: rgb(179, 210, 236);
    --backgroud-light: rgb(223, 238, 253);
    --white-dark:rgb(204, 203, 203);
    --white-light:rgb(241, 241, 241);*/
}

@media (min-width:56.25em) {
    :root {
        font-size: 1em;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*------------------------------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: var(--text-color);

}


.container h3 {
    color: var(--title-color);
    text-transform: uppercase;
}

.container > *{
    padding: 1em;
}

@media (min-width:56.25em) {
    .container > * {
        padding: 5em;
    }
}

/* HEADER */

.header {
    background-color: var(--backgroud-light);
}

.header img {
    width: 100%;
    border-radius: 50%;
    
}



/* TÍTULO */

.titulo {
    background-color: var(--white-light);
    padding-bottom: 0;
}

@media (min-width:56.25em) {
    .titulo {
        padding-right: 0;
        padding-bottom: 0;
    }
}


.titulo__nome {
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4em;
    color: #838283;
}

.titulo__sobrenome {
    text-transform: uppercase;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2.5em;
    /*color: #dfa208;*/
    color: var(--yellow-dark);
}


/* SOCIAL MÍDIAS */

.social-medias {
    background-color: var(--white-light);
    padding: 0 0.5em;
}

@media (min-width:56.25em) {
    .social-medias {
        margin: auto auto 1em auto;
    }
}

.titulo__social-media {
    padding: 0;
    font-size: 30px;
    width: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

a {
    text-decoration: none;
}

/* NAV-MENU*/

.main-menu {
    padding: 0;
}

.menu {
    text-align: center;
    width: 100%;
}

@media (min-width:56.25em) {
    .menu {
        text-align: left;
        padding-left: 5em;
    }
}


.nav-menu {
    padding: 1em;
    display: inline-block;
    margin: 0;
    list-style: none;
}


@media (min-width:56.25em) {
    .nav-menu {
        padding-left: 0;
    }
}


.nav-menu li {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: var(--backgroud-dark);
}

.nav-menu li a {
    color: var(--title-color);
    font-weight: bolder;
}

nav ul li:hover {
    background-color: var(--yellow-dark);
}


/* CONTACTS */
.contacts {
    padding-top: 0;
    padding-bottom: 0;
}


@media (min-width:56.25em) {
    .contacts {
        padding: 0 5em;
    }
}

.contacts h3 {
    color: var(--title-color);
    text-transform:none;

    margin-bottom: 0;
}

.contacts p {
    margin-top: 0.2em;
}

.contacts a {
    color: var(--text-color);
    cursor: pointer;
}

.location {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} 


.phone {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.web {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.email {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}



/* INTRO */

.intro__title {
    background-color: var(--backgroud-dark);
}

@media (min-width:56.25em) {
    .intro__title {
        padding: 0 5em;
    }
}

.intro__body {
    background-color: var(--white-dark);
}

@media (min-width:56.25em) {
    .intro__body {
        padding: 0 5em;
    }
}


/* EXPERTISE */

.expertise {
    background-color: var(--white-light);
}

.expertise__title {
    background-color: var(--backgroud-light);
}

@media (min-width:56.25em) {
    .expertise__one,
    .expertise__three,
    .expertise__five {
        padding: 1em 1em 1em 5em;
    }
}


@media (min-width:56.25em) {
    .expertise__two,
    .expertise__four,
    .expertise__six {
        padding: 1em 5em 1em 1em;
    }
}


/* SKILL */

.skills__title {
    background-color: var(--backgroud-dark);
}


.skills__one,
.skills__three,
.skills__five,
.skills__seven {
    background-color: var(--white-dark);
}


@media (min-width:56.25em) {
    .skills__one,
    .skills__three,
    .skills__five,
    .skills__seven {
        padding:  1em 1em 1em 5em;
    }    
}


.skills__two, 
.skills__four,
.skills__six,
.skills__eight {
    background-color: var(--white-dark);
}


@media (min-width:56.25em) {
    .skills__two,
    .skills__four,
    .skills__six,
    .skills__eight {
        padding:  1em 5em 1em 1em;
    }
    
}

.skills__bar {
    color:#000;
    background-color:#f1f1f1;
    border-radius:16px;
}

.skills__progress {
    padding: 0.01em 16px;
    color:#fff!important;
    background-color:#f7b202;
    border-radius:16px;
}

span {
    color: #f7b202;
}

.ability__number h3 {
    color: #f7b202;
}


.page-footer {
    margin: 0 auto;
}

@media (min-width:56.25em) {
    .page-footer {
        margin: 0 auto;
    }
}